<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/search.css"/>
</head>
<body>
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<User>"*/-->
<div class="table-title">
    <h3>List of Users</h3>
</div>

<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Created Date</th>
        <th class="text-left">Age</th>
        <th class="text-left">Admin</th>
        <th class="text-left">Function</th>
    </tr>
    </thead>
    <tbody class="table-hover">
        <tr th:each="user : ${page.getContent()}">
            <td class="text-left" th:text="${user.name}"></td>
            <td class="text-left" th:text="${{user.createdDate}}"></td>
            <td class="text-left" th:text="${user.age}"></td>
            <td class="text-left" th:text="${user.isAdmin}"></td>
            <td><a th:href="@{/delete-{name}-user(name=${user.name})}">Delete</a>
                <a th:href="@{/edit-{name}-user(name=${user.name})}">Edit</a></td>
        </tr>
    </tbody>
</table>

<br>
<section class="content">
    <div class="download">
        <a class="button" th:href="@{/new}">Add New User</a>
    </div>
</section>

<div>
    <form class="form-wrapper cf" method="get" th:action="@{/search}">
        <div>
            <input type="text" id="searchString" name="searchString" placeholder="Search user by name..." required>
        </div>

        <div>
            <button id="button-id" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="pagination">
    <span th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
        <a th:if="${i} eq ${page.getNumber() + 1}" th:text="${i}"></a>
        <a th:unless="${i} eq ${page.getNumber() + 1}" th:href="@{/{page}(page=${i})}" th:text="${i}"></a>
        &nbsp;&nbsp;
    </span>
</div>

</body>
</html>